/*BEGIN STARTER CSS - DO NOT CHANGE*/
html{
    scroll-behavior: smooth;
    max-width: 100%;
/*    overflow-x: hidden;*/
}

body{
  margin: 0;
  padding: 0;
  font-size: 16pt; 
  font-family: "Poiret One", sans-serif;
  background: #ffffff;
  max-width: 100%;
/*  overflow-x: hidden;*/
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline;

}


nav{
  text-align: center;
}

footer{
  width: auto;
  background-color: #4F7D6E;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
}

header h3{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.location{
  border-bottom: solid 10px #4F7D6E;
  color: #4F7D6E;
  font-weight: bold;
}
/*END STARTER CSS - DO NO CHANGE*/


/*about*/
.logo{
  font-size: 30px;
  color: #4F7D6E;
  padding: 10px 0px;
  margin: 20px;
  text-align: center;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration-line: none;
}

a:hover {
  /*text-decoration-line: underline;*/
  border-bottom: solid 10px #4F7D6E;
  color: #4F7D6E;
}

.nav_links{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
#hero{
  margin-top: 30px;
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 300px;                /* Parallax effect */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../about/hero.jpeg);
  background-color: black;
  vertical-align: middle;
  font-weight: bold;
}
#hero h1{
  top:50%;
  text-align: center;
  vertical-align: middle;
}
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: dashed 2px;
  border-style: dashed hidden dashed hidden;
}

.container{
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  background- color: #2196f3;
  grid-row-gap: 20px; 
  justify-content: center;
}
main{
  margin-bottom: 25px;
}
header{
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: auto;                /* Parallax effect */
/*  margin-bottom: 35px;*/
}
.header_about{
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
.container img{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  width: 100%;
  height: auto;
}
.about-image1, .about-image2, .about-image3, .about-image4, .about-image5{
  grid-column: 1 / span 1;
  align-self: center;
}
.about1{
  grid-column: 2 / 3;
  grid-row: 2 / span 1;
}

.about2{
  grid-column: 2 / 3;
  grid-row: 3 / span 1;
}

.about3{
  grid-column: 2 / 3;
  grid-row: 4 / span 1;
}

.about4{
  grid-column: 2 / 3;
  grid-row: 5 / span 1;
}

.about5{
  grid-column: 2 / 3;
  grid-row: 6 / span 1;
}

.about{
  align-self: center;
  padding-right: 10px;
}

/*stories*/
*{
  box-sizing: border-box;
}
.container-stories{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-row-gap: 20px; 
  grid-column-gap: 5%;
  justify-content: center;
  margin: 0px 5%;
  margin-bottom: 35px;
}
.date{
  grid-column: 1 / span 1;
}
.date h2{
  font-size: 24px;
  text-align: center;
}
.date h3{
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}
.container-stories img{
  grid-column: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  display: block;
  grid-column: 2;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  background-color: transparent;
  min-height: 250px;
  _height: 250px;
  perspective: 1000px; \
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  border-radius: 10px;
  width: 100%;
  min-height: 100%;
  height: auto;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-innter{
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-backface-visibility: hidden;  /*Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #4F7D6E;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #4F7D6E;
  color: white;
  transform: rotateY(180deg);
  vertical-align: center;
}
.flip-card-back h1{
  font-size: 30px;
  align-content: top;
  padding: 10px;
  padding-bottom: 15px;
}
.flip-card-back p{
  font-size: 16px;
  padding: 0px 10px 10px 10px;
  text-align: left;
}

/*photos*/
.photos ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 20px;
}
.photos ul li{
  width: 20vh;
  flex-grow: 1;
  margin: 5px;
  list-style-type: none;
  vertical-align: middle;
}

.photos li:nth-child(2) img{
  animation-delay: 0.5s;
}
.photos li:nth-child(3) img{
  animation-delay: 1s;
}
.photos li:nth-child(4) img{
  animation-delay: 1.5s;
}
.photos li:nth-child(5) img{
  animation-delay: 2s;
}
.photos li:nth-child(6) img{
  animation-delay: 2.5s;
}
.photos li:nth-child(7) img{
  animation-delay: 3s;
}
.photos li:nth-child(8) img{
  animation-delay: 3.5s;
}
.photos li:nth-child(9) img{
  animation-delay: 4s;
}
.photos li:nth-child(10) img{
  animation-delay: 4.5s;
}
/*Keyframes for animation*/
@keyframes logo_grow{
  0% {width: 25px; opacity:0; transform:skew(30deg);}
  100% {width: 100%; opacity:1;transform:skew(0deg);}
}

@-webkit-keyframes logo_grow{
  /*  Your code here.*/
  0% {width: 25px; opacity:0; transform:skew(30deg);}
  100% {width: 100%; opacity:1;transform:skew(0deg);}
}

/* Styles the thumbnail */

a.lightbox img {
  width:100%;
  height: 100%;
  min-width: 0;
  border-radius: 7px;
  vertical-align: bottom;
  object-fit: cover;
  animation-duration: 5s;
  animation-name: logo_grow;
  opacity: 0;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: absolute;
top: 0;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */
a.lightbox-close {
font-family: 'Poiret One';
font-size: 40px;
font-weight: lighter;
text-align: center;
vertical-align: middle;
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: gray;
text-decoration: none;
position: absolute;
top: 0px;
right: 0px;
/*-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;*/
}


/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}

/*contact*/
input[type=text], select, textarea{
  font-family: "Poiret One", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit]{
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #4F7D6E;
  color: white;
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}
.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
label{
  display: block;
}
input[type=file]{
  font-family: "Poiret One", sans-serif;
  margin-top: 6px;
  margin-bottom: 16px;
}


@media screen and (min-width: 600px){
  /* about */
  .logo{
    font-size: 40px;
  }

  nav a{
    font-size: 25px;
  }
  .container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 30px;
    grid-column-gap: 5%;
  }
  .about-image1{
    grid-row: 2 / span 1;
    align-self: center;
  }
  .about-image2{
    grid-row: 2 / span 1;
    align-self: center;
  }
  .about-image3, .about-image4, .about-image5{
    grid-row: 4 / span 1;
  }
  .about1, .about2{
    grid-row: 3 / span 1;
  }
  .about3,.about-4, .about-5{
    grid-row: 5 / span 1;
  }
  .about-image1{
    grid-column: 1 / span 2;
  }
  .about-image2{
    grid-column: 3 / span 1;
  }
  .about-image3{
    grid-column: 1 / span 1;
  }
  .about-image4{
    grid-column: 2 / span 1;
  }
  .about-image5{
    grid-column: 3 / span 1;
  }
  .about-1{
    grid-column: 1 / span 2;
  }

  .about-2{
    grid-column: 3;
  }

  .about-3{
    grid-column: 1;
  }

  .about-4{
    grid-column: 2;
  }

  .about-5{
    grid-column: 3;
  }

  .about{
    text-align: center;
    align-self: baseline;
    padding-right: 10px;
  }
  /*stories*/
  .container-stories{
    grid-template-columns: 30% 70%;
    grid-row-gap: 20px; 
    grid-column-gap: 5%;
    justify-content: center;
    margin: 0px 10%;
    margin-bottom: 35px;
  }
  .date h2{
    font-size: 40px;
  }
  .date h3{
    font-size: 26px;
  }
  .flip-card{
    min-height: 300px;
  }
  .flip-card-back h1{
    font-size: 40px;
    margin-bottom: 10px;
  }
  .flip-card-back p{
    font-size: 24px;
  }
  /* contact */
  .contact {
    margin: 5px 5% 10% 5%;
  }
  #submit{
    align-content: center;
  }
}

@media screen and (min-width: 825px){
  /* about */
  .logo{
    font-size: 50px;
    }

  nav a{
    font-size: 30px;
    }
  .container{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 30px;

  }
  .about-image1, .about-image2, .about-image3{
    grid-row: 2 / span 1;
    align-self: center;
  }
  .about-image4, .about-image5{
    grid-row: 4 / span 1;
  }
  .about1, .about2, .about3{
    grid-row: 3 / span 1;
  }
  .about-4, .about-5{
    grid-row: 5 / span 1;
  }
  .about-image1{
    grid-column: 1 / span 1;
  }
  .about-image2{
    grid-column: 2 / span 1;
  }
  .about-image3{
    grid-column: 3 / span 1;
  }
  .about-image4{
    grid-column: 1 / span 1;
  }
  .about-image5{
    grid-column: 2 / span 1;
  }
  .about-1{
    grid-column: 1;
  }

  .about-2{
    grid-column: 2;
  }

  .about-3{
    grid-column: 3;
  }

  .about-4{
    grid-column: 1;
  }

  .about-5{
    grid-column: 2;
  }

  .about{
    text-align: center;
    align-self: baseline;
    padding-right: 10px;
  }
  /*stories*/
  .container-stories{
    grid-template-columns: 30% 70%;
    grid-row-gap: 20px; 
    grid-column-gap: 5%;
    justify-content: center;
    margin: 0px 10%;
    margin-bottom: 35px;
  }
  .date h2{
    font-size: 40px;
  }
  .date h3{
    font-size: 26px;
  }
  .flip-card{
    min-height: 500px;
  }
  .flip-card-back h1{
    font-size: 40px;
    margin-bottom: 10px;
  }
  .flip-card-back p{
    font-size: 24px;
  }
  .contact {
    margin: 5px 10% 20% 10%;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  a.lightbox img{
    animation: none;
    opacity:1;
  }
}